{{!--  Hide the User search results divs on page load --}}
<script type="text/javascript">
    window.onload = function(){
        $("#two").hide();
    }
</script>

<body class="landing">
    <!-- Page Wrapper -->
    <div id="page-wrapper" class="fade">
        
        {{!-- If user hits search food route, auto scroll to search results div --}}
        {{#if showTitle}}
        <script type="text/javascript">
        window.onload = function() {
            
            var el = document.getElementById("two");
            el.scrollIntoView(true);
            $("#two").show();
            $(".fade").hide(0).fadeIn(500)

        }
        element.scrollIntoView();
        </script>
        {{/if}}

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="/">Calorie Crunch</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/login">Log In</a></li>
                                <li><a href="/signup">Sign Up</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Calorie<br>Crunch!</h2>
                <p>Count Calories.
                    <br/> Track weight goals.
                    <br/> Live healthy.
                </p>
                <ul class="actions">
                    <li><a href="/login" class="button special logIn">Log In</a></li>
                    <li><a href="/signup" class="button special signUp">Sign Up</a></li>
                </ul>
            </div>
            <a href="#one" class="more scrolly" style="text-decoration: none;">Calculate Calories</a>
        </section>
        <!-- One -->
        <section id="one" class="wrapper style1 special">
            <div class="inner">
                <header class="major">
                    <h2>Calorie Calculator</h2>
                    <p>Tell us what you're eating!
                        <br/> Touch the microphone to speak. (ie. "An apple")</p>
                </header>

                <ul class="icons major">
                    <li>
                    <span class="icon fa-microphone major style1" id="button">
                    </span>
                    <li>
                    <span class="icon fa-microphone-slash major style1" id="stop">
                    </span>
                    </li>
                </ul>
                <audio id="on" src="assets/audio/on.wav" ></audio>
                <audio id="off" src="assets/audio/off.wav" ></audio>

                <form method="post" action="/searchfood">
                    <input type="hidden" name="page" value="index">
                    <div class="row uniform">
                        <div class="12u 12u$(xsmall)">
                            <input type="text" name="foodsearch" value="" id="item" placeholder="ie. An apple" />
                        </div>
                        <div class="12u$">
                            <ul class="actions">
                                <li>
                                    <input type="submit" value="Submit" class="special" id="submitfood" />
                                </li>
                                <li>
                                    <input type="reset" value="Reset" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        {{!-- Watson Code --}}
        <script src="assets/js/watson-speech.js"></script>
        <script src="assets/js/fetch.js"></script>
        <script>
        document.querySelector('#button').onclick = function() {

            function on(){
                var audio = document.getElementById("on");
                audio.play();
            }

            
            function off(){
                var audio = document.getElementById("off");
                audio.play();
            }

            fetch('/api/speech-to-text/token')
                .then(function(response) {
                    return response.text();
                }).then(function(token) {

                    on()
                    var stream = WatsonSpeech.SpeechToText.recognizeMicrophone({
                        token: token,
                        outputElement: '#item'
                    });

                    stream.on('error', function(err) {
                        console.log(err);
                    });

                    document.querySelector('#stop').onclick = function() {
                        stream.stop();
                        off()
                    };

                }).catch(function(error) {
                    console.log(error);
                });
        };
        </script>

        {{!-- Two --}}
        <section class="wrapper alt style2" id="two">
            <div class="inner">
                <div class="row">
                    <br><br>
                    <div class="6u 12u$(small)">
                        <h2>Search Results</h2>
                       {{!--  <ul> --}}
                            {{#each items}}
                            <button class="foodItem button special fit" data-calories= {{this.nf_calories}} data-serving-size= {{this.nf_serving_size_qty}} data-total-fat= {{this.nf_total_fat}} data-protein= {{this.nf_protein}} data-carb= {{this.nf_total_carbohydrate}} data-sugars= {{this.nf_sugars}}
                              data-fiber={{this.nf_dietary_fiber}}  data-sodium= {{this.nf_sodium}}>{{this.item_name}}</button>
                            {{/each}}
                        {{!-- </ul> --}}
                    </div>
                    <div class="6u 12u$(small)">
                        {{!--
                        <h2>{{name}}<br/></h2> --}}
                        <h2>Nutrition Facts</h2>
                        <table>
                            <thead>
                                <!--<tr>
                                    <th>Name</th>
                                    <th>Content</th>
                                </tr> -->
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Serving Size:</td>
                                    <td id="servingSize"></td>
                                </tr>
                                <tr>
                                    <td>Calories:</td>
                                    <td id="calories"></td>
                                </tr>
                                <tr>
                                    <td>Fiber </td>
                                    <td id="fiber"></td>
                                </tr>
                                <tr>
                                    <td>Total Fat:</td>
                                    <td id="totalFat"> </td>
                                </tr>
                                <tr>
                                    <td>Sodium:</td>
                                    <td id="sodium"></td>
                                </tr>
                                <tr>
                                    <td>Total Carbohydrates:</td>
                                    <td id="carb"> </td>
                                </tr>
                                <tr>
                                    <td>Protein:</td>
                                    <td id="protein"></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <a href="#one" class="more scrolly button fit" style="text-decoration: none;">Do Another Search!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer id="footer">
{{!--             <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul> --}}
            <ul class="copyright">
                <li>&copy; Calorie Crunchers Inc.</li>
            </ul>
        </footer>
    </div>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
</body>
