<!-- Page Wrapper -->
<div id="page-wrapper">
    <!-- Header -->
    <header id="header">
        <h1><a href="/">Calorie Crunch</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/logout">LogOff</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Main -->
    <section id="three" class="wrapper style3 special">
        <div class="inner">
            <header class="major">
                <h2>Welcome, {{name}}!</h2>
                <p>You ate, you worked out, you crunched calories!
                    <br>Tell us about it.</p>
            </header>
            {{!-- Left Section --}}
            <ul class="features" id="dosearch">
                <li class="icon fa-plus">
                    <h3>Add Food</h3>
                    <ul class="icons major">
                        <span class="icon fa-microphone major style1" id="button" onclick="playSound()"></span> &nbsp&nbsp&nbsp&nbsp
                        <span class="icon fa-microphone-slash major style1" id="stop"></span>
                    </ul>
                    <br>

                    <form method="post" action="/searchfood">
                        <input type="hidden" name="page" value="user">
                        <div class="row uniform">
                            <div class="12u 12u$(xsmall)">
                                <input type="text" name="foodsearch" value="" id="item" placeholder="ie. Avocado" />
                            </div>
                            <div class="12u$">
                                <ul class="actions">
                                    <input type="submit" value="Search" class="special" id="submitfood" />
                                    <input type="reset" value="Reset" />
                                </ul>
                            </div>
                        </div>
                    </form>
                    {{!-- Watson Code --}}
                    <script src="assets/js/watson-speech.js"></script>
                    <script src="assets/js/fetch.js"></script>
                    <script>
                    document.querySelector('#button').onclick = function() {

                        fetch('/api/speech-to-text/token')
                            .then(function(response) {
                                return response.text();
                            }).then(function(token) {

                                var stream = WatsonSpeech.SpeechToText.recognizeMicrophone({
                                    token: token,
                                    outputElement: '#item'
                                });

                                stream.on('error', function(err) {
                                    console.log(err);
                                });

                                document.querySelector('#stop').onclick = function() {
                                    stream.stop();
                                };

                            }).catch(function(error) {
                                console.log(error);
                            });
                    };
                    </script>
                    {{!-- Div for Nutrition Facts --}}
                    <div>
                        {{#each items}}
                        <button class="foodItem button special fit" data-calories={ {this.nf_calories}} data-serving-size={ {this.nf_serving_size_qty}} data-total-fat={ {this.nf_total_fat}} data-protein={ {this.nf_protein}} data-carb={ {this.nf_total_carbohydrate}} data-sugars={ {this.nf_sugars}} data-fiber={{this.nf_dietary_fiber}} data-sodium={ {this.nf_sodium}}>{{this.item_name}}
                        </button>
                        {{/each}}
                    </div>
                    <div>
                        <br>
                        <form method="post" action="">
                            <input type="hidden" name="page" value="user">
                            <div class="row uniform">
                                <div class="6u 6u$(xsmall)">
                                    <ul class="actions">
                                        <input type="text" name="name" id="demo-name" value="" placeholder="Quantity" />
                                    </ul>
                                </div>
                                <div class="6u 6u$(xsmall)">
                                    <ul class="actions">
                                        <input type="submit" value="Add" class="" id="" />
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <h2>Nutrition Facts</h2>
                        <table>
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Serving Size:</td>
                                    <td id="servingSize"></td>
                                </tr>
                                <tr>
                                    <td>Calories:</td>
                                    <td id="calories"></td>
                                </tr>
                                <tr>
                                    <td>Fiber </td>
                                    <td id="fiber"></td>
                                </tr>
                                <tr>
                                    <td>Total Fat:</td>
                                    <td id="totalFat"> </td>
                                </tr>
                                <tr>
                                    <td>Sodium:</td>
                                    <td id="sodium"></td>
                                </tr>
                                <tr>
                                    <td>Total Carbohydrates:</td>
                                    <td id="carb"> </td>
                                </tr>
                                <tr>
                                    <td>Protein:</td>
                                    <td id="protein"></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <a href="#dosearch" class="more scrolly button fit" style="text-decoration: none;">Do Another Search!</a>
                    </div>
                </li>
                <li class="icon fa-laptop">
                    <h3 id="currentDate">Date: May, 26, 2017Time: 5:30pm</h3><br>
                    <p id="totalCalories">{{totalCalories}}</p>
                    <!-- <h4>Calories Consumed: 750 <br>Total Calories left: 1500</h4> -->
                    <div id="progressBar"></div>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Food</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{time}}</td>
                                    <td>{{food}}</td>
                                    <td>{{calorieList}}</td>
                                </tr>
                                <tr>
                                    <td>6:00 am (Example)</td>
                                    <td>Oatmeal (Example)</td>
                                    <td>500 (Example)</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"></td>
                                    <td id="total">Total:{{total}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    {{!-- Graph Div? --}}
    <div id="graphy">
    </div>
    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Calorie Crunchers Inc</li>
        </ul>
    </footer>
</div>
<!-- Scripts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/dataVisualization.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>

<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>


