{{!--  Hide the User search results divs on page load --}}
<script type="text/javascript">
    window.onload = function(){
        $("#results").hide();
        $("#selection").hide();
        $("#add").hide();
    }
</script>

<!-- Page Wrapper -->
<div id="page-wrapper">
    <!-- Header -->

    {{!-- If user hits search food route, auto scroll to search results div --}}
    {{#if dosearch}}
        <script type="text/javascript">
 
        window.onload = function() {

            var el = document.getElementById("dosearch");
            $(".fade").hide(0).fadeIn(500)
            el.scrollIntoView(true);
            $("#search").hide();
            $("#results").show();
            $("#selection").show();
            $("#add").show();
        }
        element.scrollIntoView();
         </script>
    {{/if}}

    <header id="header">
        <h1><a href="/">Calorie Crunch</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/logout">LogOff</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Main -->
    <section id="three" class="wrapper style3 special">
        <div class="inner">
            <header class="major">
                <h2>Welcome, {{userProfile.user.name}}!</h2>
                <p>You ate, you worked out, you crunched calories!
                    <br>Tell us about it.</p>
            </header>
            {{!-- Left Section --}}
            <ul class="features" id="dosearch">
                <li class="icon fa-plus">
                <h3>Add Food</h3>
                <div id="search">
                    <ul class="icons major">
                        <span class="icon fa-microphone major style1" id="button" onclick="Playsound()"></span> &nbsp&nbsp&nbsp&nbsp
                        <span class="icon fa-microphone-slash major style1" id="stop"></span>
                    </ul>
                    <audio id="on" src="assets/audio/on.wav" ></audio>
                    <audio id="off" src="assets/audio/off.wav" ></audio>
                    <br>
                    <form method="post" action="/searchfood">
                        <input type="hidden" name="page" value="user">
                        <div class="row uniform">
                            <div class="12u 12u$(xsmall)">
                                <input type="text" name="foodsearch" value="" id="item" placeholder="ie. Avocado" />
                            </div>
                            <div class="12u$">
                                <ul class="actions">
                                    <input type="submit" value="Search" class="special" id="submitfood" />
                                    <input type="reset" value="Reset" />
                                </ul>
                            </div>
                        </div>
                    </form>
                    {{!-- Watson Code --}}
                    <script src="assets/js/watson-speech.js"></script>
                    <script src="assets/js/fetch.js"></script>
                    <script>
                        document.querySelector('#button').onclick = function() {

                            function on(){
                                var audio = document.getElementById("on");
                                audio.play();
                            }

                            
                            function off(){
                                var audio = document.getElementById("off");
                                audio.play();
                            }

                            fetch('/api/speech-to-text/token')
                                .then(function(response) {
                                    return response.text();
                                }).then(function(token) {

                                    on()
                                    var stream = WatsonSpeech.SpeechToText.recognizeMicrophone({
                                        token: token,
                                        outputElement: '#item'
                                    });

                                    stream.on('error', function(err) {
                                        console.log(err);
                                    });

                                    document.querySelector('#stop').onclick = function() {
                                        stream.stop();
                                        off()
                                    };

                                }).catch(function(error) {
                                    console.log(error);
                                });
                        };
                    </script>
                    </div>
                    {{!-- Div for Nutrition Facts --}}
                    <div id="results">
                        <!-- {{#each items}}
                        <button class="foodItem button special fit" data-calories={{this.nf_calories}} data-serving-size={{this.nf_serving_size_qty}} data-total-fat={{this.nf_total_fat}} data-protein={{this.nf_protein}} data-carb={{this.nf_total_carbohydrate}} data-sugars={{this.nf_sugars}} data-fiber={{this.nf_dietary_fiber}} data-sodium={{this.nf_sodium}}>{{this.item_name}}
                        </button>
                        {{/each}} -->
                        <div class="select-wrapper">
                        <select class="selectfoodItem">
                        <option value="">Please select an item</option>
                        {{#each userProfile.searchResults.items}}

                          <option class="" data-calories={{this.nf_calories}} data-serving-size={{this.nf_serving_size_qty}} data-total-fat={{this.nf_total_fat}} data-protein={{this.nf_protein}} data-carb={{this.nf_total_carbohydrate}} data-sugars={{this.nf_sugars}} data-fiber={{this.nf_dietary_fiber}} data-sodium={{this.nf_sodium}}>{{this.item_name}}
                          </option>
                        {{/each}}
                        </select>
                        </div>
                    </div>
                    <div id="add">
                        <br>
                        <form method="post" action="/addFood">
                            <input type="hidden" name="page" value="user">
                            <input type="hidden" name="calories" id="finalCalories"></input>
                            <input type="hidden" name="food" id="selectedFood"></input>
                            <input type="hidden" name="userId" value="{{id}}" placeholder="Name">

                            <div class="row uniform">
                                <div class="6u 6u$(xsmall)">
                                    <ul class="actions">
                                        <input type="text" name="quantity" value="" placeholder="Quantity" />
                                    </ul>
                                </div>
                                <div class="6u 6u$(xsmall)">
                                    <ul class="actions">
                                        <input type="submit" value="Add" class="" id="" />
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="selection">
                        <h2>Nutrition Facts</h2>
                        <table>
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Serving Size:</td>
                                    <td id="servingSize"></td>
                                </tr>
                                <tr>
                                    <td>Calories:</td>
                                    <td id="calories"></td>
                                </tr>
                                <tr>
                                    <td>Fiber </td>
                                    <td id="fiber"></td>
                                </tr>
                                <tr>
                                    <td>Total Fat:</td>
                                    <td id="totalFat"> </td>
                                </tr>
                                <tr>
                                    <td>Sodium:</td>
                                    <td id="sodium"></td>
                                </tr>
                                <tr>
                                    <td>Total Carbohydrates:</td>
                                    <td id="carb"> </td>
                                </tr>
                                <tr>
                                    <td>Protein:</td>
                                    <td id="protein"></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <a href="/user #three" class="more scrolly button fit" style="text-decoration: none;">Do Another Search!</a>
                    </div>
                </li>
                <li class="icon fa-laptop">
                    <h3 id="currentDate">
<iframe src="http://free.timeanddate.com/clock/i5qyjlcz/n179/fn7/fs20/fcfff/tc4a4d89/pc4a4d89/ahl/ftb/pd3/tt0/tb1" frameborder="0" width="410" height="30"></iframe></h3>
                    <p id="totalCalories">{{totalCalories}}</p>
                    <!-- <h4>Calories Consumed: 750 <br>Total Calories left: 1500</h4> -->
                    <div id="progressBar"></div>
                    <br>
                    <div class="table-wrapper 12u$(medium) 12u$(small)">
                        <table>
                            <thead>
                                <tr>
                                    <th>Hour</th>
                                    <th>Food</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each userProfile.entry}}
                                    <tr>
                                        <td>{{hour}}</td>
                                        <td>{{food}}</td>
                                        <td>{{totalCalories}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"></td>
                                    <td id="total">Total:{{userProfile.totalCal}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    {{!-- Graph --}}
    <section id="four" class="wrapper style3 special">
        <h2>7 Day Calorie History</h2>
        <div id="graphy" class="inner">
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Calorie Crunchers Inc</li>
        </ul>
    </footer>
</div>
<!-- Scripts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/dataVisualization.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
