<!-- Page Wrapper -->
<div id="page-wrapper">
    <!-- Header -->
    <header id="header">
        <h1><a href="/">Calorie Crunch</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/logout">LogOff</a></li>

                            <!-- <li><a href="generic.html">Generic</a></li> -->
                            <!-- <li><a href="elements.html">Elements</a></li> -->
                            <!-- <li><a href="#">Sign Up</a></li> -->
                            <!-- <li><a href="#">Log In</a></li> -->
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Main -->
    <section id="three" class="wrapper style3 special">
        <div class="inner">
            <header class="major">
                <h2>Welcome, {{name}}!</h2>
                <p>You ate, you worked out, you crunched calories!
                    <br>Tell us about it.</p>
            </header>
            <ul class="features">
                <li class="icon fa-plus">
                    <h3>Add Food</h3>
                    <ul class="icons major">
                        <span class="icon fa-microphone major style1" id="button" onclick="Playsound()"></span> &nbsp&nbsp&nbsp&nbsp
                        <span class="icon fa-microphone-slash major style1" id="stop"></span>
                    </ul>
                    <br>
                    <form method="post" action="/addFood">
                        <div class="row uniform">
                            <input type="hidden" name="userId" id="demo-name" value="{{id}}" placeholder="Name">
                            <div class="12u 12u$(xsmall)">
                                <input type="text" name="food" id="items" value="" placeholder="Food" />
                            </div>
                            <div class="12u 12u$(xsmall)">
                                <input type="text" name="quantity" id="demo-name" value="" placeholder="Quantity" />
                            </div>
                            <div class="12u$">
                                <ul class="actions">
                                    <input type="submit" value="Add" class="special" />
                                </ul>
                            </div>
                        </div>
                    </form>
                    {{!-- Watson Code --}}
                    <script src="assets/js/watson-speech.js"></script>
                    <script src="assets/js/fetch.js"></script>
                    <script>
                    document.querySelector('#button').onclick = function () {

                          fetch('/api/speech-to-text/token')
                          .then(function(response) {
                              return response.text();
                          }).then(function (token) {

                            var stream = WatsonSpeech.SpeechToText.recognizeMicrophone({
                                token: token,
                                outputElement: '#items'
                            });

                            stream.on('error', function(err) {
                                console.log(err);
                            });

                            document.querySelector('#stop').onclick = function() {
                              stream.stop();
                            };

                          }).catch(function(error) {
                              console.log(error);
                          });
                        };
                    </script>
                    {{!-- Div for Nutrition Facts --}}

                    <div>
                        <h3>Nutrition Facts</h3>
                        <table>
                            <thead>
                                <!--                                     <tr>
                                    <th>Name</th>
                                    <th>Content</th>
                                </tr> -->
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Serving Size:</td>
                                    <td>{{serving}}</td>
                                </tr>
                                <tr>
                                    <td>Calories:</td>
                                    <td>{{calorie}}</td>
                                </tr>
                                <tr>
                                    <td>Calories from Fat:</td>
                                    <td>{{caloriefat}}</td>
                                </tr>
                                <tr>
                                    <td>Total Fat:</td>
                                    <td>{{totalfat}}</td>
                                </tr>
                                <tr>
                                    <td>Cholesterol:</td>
                                    <td>{{cholesterol}}</td>
                                </tr>
                                <tr>
                                    <td>Sodium:</td>
                                    <td>{{sodium}}</td>
                                </tr>
                                <tr>
                                    <td>Total Carbohydrates:</td>
                                    <td>{{carb}}</td>
                                </tr>
                                <tr>
                                    <td>Protein:</td>
                                    <td>{{protein}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="icon fa-laptop">
                    <h3>Date: May, 26, 2017<br>Time: 5:30pm</h3>
                    <p id="totalCalories">{{totalCalories}}</p>
                    <!-- <h4>Calories Consumed: 750	<br>Total Calories left: 1500</h4> -->
                    <div id="progressBar"></div>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Food</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{time}}</td>
                                    <td>{{food}}</td>
                                    <td>{{calorieList}}</td>
                                </tr>
                                <tr>
                                    <td>6:00 am (Example)</td>
                                    <td>Oatmeal (Example)</td>
                                    <td>500 (Example)</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"></td>
                                    <td id="total">Total:{{total}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </li>
                <!--                     <li class="icon fa-code">
                    <h3>Mus Scelerisque</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon fa-headphones">
                    <h3>Mauris Imperdiet</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon fa-heart-o">
                    <h3>Aenean Primis</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon fa-flag-o">
                    <h3>Tortor Ut</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li> -->
            </ul>
        </div>
    </section>
    <section id="one" class="wrapper style1 special">
    <form method="post" action="/searchfood">
    <input type="hidden" name="page" value="user">
                    <div class="row uniform">
                        <div class="12u 12u$(xsmall)">
                            <input type="text" name="foodsearch" value="" id="item" placeholder="ie. One big mac" />
                        </div>
                        <div class="12u$">
                            <ul class="actions">
                                <li>
                                    <input type="submit" value="Submit" class="special" id="submitfood" />
                                </li>
                                <li>
                                    <input type="reset" value="Reset" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
        <div class="inner">
            {{!-- <header class="major">
                <h2>History</h2>
                <p>The graph will go here!</p>
            </header> --}}
            <section class="spotlight">
                <ul>
                    {{#each items}}
                        <li><button class="foodItem" data-calories= {{this.nf_calories}} data-serving-size= {{this.nf_serving_size_qty}} data-total-fat= {{this.nf_total_fat}} data-protein= {{this.nf_protein}} data-carb= {{this.nf_total_carbohydrate}} data-sugars= {{this.nf_sugars}}
                              data-fiber={{this.nf_dietary_fiber}}  data-sodium= {{this.nf_sodium}}>{{this.item_name}}</button></li>
                    {{/each}}
                </ul>
                <div class="content">
                    <h2>{{name}}<br/></h2>
                    <table>
                        <thead>
                            <!--<tr>
                                    <th>Name</th>
                                    <th>Content</th>
                                </tr> -->
                        </thead>
                        <tbody>
                            <tr>
                                <td>Serving Size:</td>
                                <td id="servingSize"></td>
                            </tr>
                            <tr>
                                <td>Calories:</td>
                                <td id="calories"></td>
                            </tr>
                            <tr>
                                <td>Fiber </td>
                                <td id="fiber"></td>
                            </tr>
                            <tr>
                                <td>Total Fat:</td>
                                <td id="totalFat"> </td>
                            </tr>
                            <tr>
                                <td>Sodium:</td>
                                <td id="sodium"></td>
                            </tr>
                            <tr>
                                <td>Total Carbohydrates:</td>
                                <td id="carb"> </td>
                            </tr>
                            <tr>
                                <td>Protein:</td>
                                <td id="protein"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Rutgers Coding Project 2</li>
        </ul>
    </footer>
</div>
<!-- Scripts -->
<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/dataVisualization.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
